{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
                    {% for messageFlash in app.flashes('success') %}
						<div class="alert alert-success"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('warning') %}
						<div class="alert alert-warning"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('danger') %}
						<div class="alert alert-danger"><b>{{ messageFlash }}</b></div>
					{% endfor %}
                    <h1>Inscription</h1>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.lastname) }}
                        {{ form_row(registrationForm.roles) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    {{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
