{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
					{% for messageFlash in app.flashes('success') %}
						<div class="alert alert-success"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('warning') %}
						<div class="alert alert-warning"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('danger') %}
						<div class="alert alert-danger"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					<h1><u>Ajouter un auteur :</u></h1>
					<hr>
					{{ form_start(form_author) }}
						<div class="form-group mb-3">
							{{ form_row(form_author.name) }}
						</div>
						<div class="form-group mb-3">
							{{ form_row(form_author.dateOfBirth) }}
						</div>
						<div class="form-group mb-3">
							{{ form_row(form_author.dateOfDeath) }}
						</div>
						<div class="form-group mb-3">
							{{ form_row(form_author.nationality) }}
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Enregistrer l'auteur</button>
						</div>
					{{ form_end(form_author) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
