{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
                    <h1>Auteur : </h1>
                    <a class="btn btn-primary mb-3" href="{{ path('app_admin_author') }}"><- Liste des auteurs</a>
                    {% if author is not null %}
                        <div class="card mb-1 m-auto">
                            <div class="card-body">
                                <div class="card-title d-flex justify-content-between">
                                    <h4 class="mb-1">{{ author.name }}</h4>
                                    <small class="text-muted">Identifiant : {{ author.id }}</small>
                                </div>
                                <div class="d-flex justify-content-between card-text">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Date de naissance : {{ author.dateOfBirth|date('d-m-Y') }}</li>
                                        {% if author.dateOfDeath is not null %}
                                            <li class="list-group-item">Date de décès : {{ author.dateOfDeath|date('d-m-Y') }}</li>
                                        {% endif %}
                                    </ul>
                                    <p><small>Nationalité : {{ author.nationality|country_name }}</small></p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div>Auteur non trouvé</div>
                    {% endif %}
                </div>
			</div>
		</div>
    </section>
{% endblock %}