{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
					{% for messageFlash in app.flashes('success') %}
						<div class="alert alert-success"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('warning') %}
						<div class="alert alert-warning"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					{% for messageFlash in app.flashes('danger') %}
						<div class="alert alert-danger"><b>{{ messageFlash }}</b></div>
					{% endfor %}
					<h1><u>Ajouter un éditeur :</u></h1>
					<hr>
					{{ form_start(form_editor) }}
                        {{ form_label(form_editor.name) }} {{ form_widget(form_editor.name) }}
						<hr>
						<button type="submit" class="btn btn-primary">Enregistrer l'éditeur</button>
                    {{ form_end(form_editor) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
