{% extends 'base.html.twig' %}

{% block title %}Editeurs{% endblock %}

{% set action = app.current_route == 'app_admin_editor_new' ? 'Ajout' : 'Édition' %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
					{% if form_editor is defined %}
						{% for messageFlash in app.flashes('success') %}
							<div class="alert alert-success"><b>{{ messageFlash }}</b></div>
						{% endfor %}
						{% for messageFlash in app.flashes('warning') %}
							<div class="alert alert-warning"><b>{{ messageFlash }}</b></div>
						{% endfor %}
						{% for messageFlash in app.flashes('danger') %}
							<div class="alert alert-danger"><b>{{ messageFlash }}</b></div>
						{% endfor %}
						<h1>{{ action }} d'éditeur :</h1>
						<a class="btn btn-primary mb-3" href="{{ path('app_admin_editor') }}"><- Liste des éditeurs</a>
						<hr>
						{{ form_start(form_editor) }}
							<div class="form-group mb-3">
								{{ form_row(form_editor.name) }}
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Enregistrer l'éditeur</button>
							</div>
						{{ form_end(form_editor) }}
					{% endif %}
					{% if liste_editor is defined %}
						<h1>Liste des éditeurs</h1>
						<a class="btn btn-success mb-3" href="{{ path('app_admin_main') }}"><- Retour à l'interface administrateur</a>
						<a class="btn btn-primary mb-3" href="{{ path('app_admin_editor_new') }}">+ Ajouter un éditeur</a>
						<ul class="list-group list-group-flush">
							{% for editor in liste_editor %}
								<a class="text-decoration-none text-primary mb-3" href="{{ path('app_admin_editor_show', {'id' : editor.id}) }}">
									<div class="card mb-1">
										<div class="card-body">
											<div class="card-title d-flex justify-content-between">
												<h4 class="mb-1">{{ editor.name }}</h4>
												<small class="text-muted">Identifiant : {{ editor.id }}</small>
											</div>
										</div>
									</div>
								</a>
							{% endfor %}
						</ul>
						{{ pagerfanta(liste_editor, 'twitter_bootstrap5', { prev_message: 'Précédent', next_message: 'Suivant'}) }}
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
